body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "ProximaNova";
  color: #333D51;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/ProximaNova-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/ProximaNova-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/ProximaNova-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/ProximaNova-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/ProximaNova-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/ProximaNova-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/ProximaNova-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/ProximaNova-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/ProximaNova-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/ProximaNova-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-size: 60px;
  line-height: 93%;
  font-weight: normal;
  text-align: left;
}
h1 span {
  color: #004FEC;
}