.contacts__box {
    display: flex;
    justify-content: space-between;
}
.contacts__img img {
    max-width: 540px;
}
.contacts__info {
    text-align: left;
}
.contacts__tel {
    font-size: 60px;
    line-height: 93%;
    color: #004FEC;
    margin-bottom: 50px;
    display: block;
}
.contacts__name {
    font-size: 25px;
    line-height: 30px;
    padding-left: 23px;
    border-left: 1px solid #004FEC;
}
.contacts__mail {
    font-size: 20px;
    line-height: 24px;
    color: #333D51;
    display: block;
    margin: 25px 0 52px;
}
.contacts__job {
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 61, 81, 0.5);
    margin-bottom: 25px;
}
.contacts__tech {
    font-size: 20px;
    line-height: 24px;
}
.contacts__tech span {
    color: #004FEC;
}