.footer {
    margin-top: 90px;
}
.footer__box {
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo, .footer__made {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #333D51;
}
.footer__logo span, .footer__made span {
    display: block;
    font-size: 12px;
    line-height: 15px;
    
}
.footer__made {
    text-align: right;
}
.footer__diploma {
    font-size: 15px;
    line-height: 18px;  
}