.news h1 {
    margin-bottom: 75px;
}
.news__go a {
    font-size: 20px;
    line-height: 24px;
    color: #004FEC;
    position: relative;
}
.news__go {
    text-align: left;
    margin-top: 60px;
}
.news__go a:after {
    display: block;
    content: '';
    background:#004FEC ;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    transition: all 0.5s ease;
}
.news__go a:hover:after {
    width: 100%;
}
.news__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.news__item {
    width: 350px;
    height: 290px;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 7px;
    margin-bottom: 30px;
    box-sizing: border-box;
    margin-right: 30px;
    cursor: pointer;
}
.news__item:hover .news__title{
    background: #004FEC;
    color: #fff;;
}
.news__item:nth-child(3n) {
    margin-right: 0;
}
.news__title {
    font-size: 25px;
    line-height: 30px;
    padding-left: 23px;
    border-left: 1px solid #004FEC;
    text-align: left;
    transition: all 0.5s ease;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.news__info {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}
.news__source {
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 61, 81, 0.5);

}
.news__data {
    font-size: 20px;
    line-height: 24px;
    color: rgba(51, 61, 81, 0.5);
}
.news__day {
    font-size: 30px;
    line-height: 37px;
    color: #333D51;
    padding-right: 7px;
}
.news__month {
    padding-left: 7px;
}
.article__box {
    display: flex;
    justify-content: space-between;
}
.article__info {
    max-width: 350px;
    margin-right: 30px;
}
.article .news__source, .article .news__data {
    text-align: left;
}
.article h1, .article .news__source {
    margin-bottom: 30px;
}
.article__img {
    max-width: 730px;
    margin-bottom: 60px;
}
.article__text {
    font-size: 25px;
    line-height: 35px;
    text-align: left;
}