.header {
    margin-bottom: 90px;
}
.header__box {
    align-items: center;
    height: 120px;
    justify-content: space-between;
    display: flex;
}
.header__logo a{
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #333D51;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__list li a {
    font-size: 18px;
    line-height: 22px;
    color: #333D51;
    margin-left: 35px;
}
.header__list li a.active, .header__list li a:hover {
    color: #004FEC;
}

